<div  class="container-fluid">
<div class="row">

    <mat-card class="col-md-12 mt-2 rounded-0">
        <h2>Ajouter nouveau client</h2>
    </mat-card>

    <mat-card class="col-md-12 mt-2 rounded-0">

        <div class="form-group col-md-4">
            <label for="inputState">Type Client</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
              <option>...</option>
            </select>
          </div>

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Profession</label>
              <input type="number" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Num&ro de pièce d'identité</label>
              <input type="email" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Telephone</label>
              <input type="number" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">E-mail</label>
              <input type="email" class="form-control" id="inputPassword4">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Ville</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Code postal</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
<!--           
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div> -->


    </mat-card>

    <!-- <mat-card class="col-md-12 mt-2 rounded-0">

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
          </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

    </mat-card>


    <mat-card class="col-md-12 mt-2 rounded-0">

        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nom</label>
              <input type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Prenom</label>
              <input type="text" class="form-control" id="inputPassword4">
            </div>
          </div>

    </mat-card> -->

    <mat-card class="col-md-12 mt-2 mb-4 rounded-0">
        <button type="submit" class="btn btn-primary">Valider</button>
    </mat-card>
    

</div>
</div>