<div class="container-fluid" style="min-height: 100vh;">
  <div class="row">

      <div class="col-md-12 mt-2">
            <div class="row">
                  <div class="col-md-3">
                        <mat-card class="example-card">
                              <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                <p>
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                  </div>
                  <div class="col-md-3">
                        <mat-card class="example-card">
                              <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                <p>
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                  </div>
                  <div class="col-md-3">
                        <mat-card class="example-card">
                              <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                <p>
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                  </div>
                  <div class="col-md-3">
                        <mat-card class="example-card">
                              <mat-card-header>
                                <div mat-card-avatar class="example-header-image"></div>
                                <mat-card-title>Shiba Inu</mat-card-title>
                                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                              </mat-card-header>
                              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                              <mat-card-content>
                                <p>
                                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                  bred for hunting.
                                </p>
                              </mat-card-content>
                              <mat-card-actions>
                                <button mat-button>LIKE</button>
                                <button mat-button>SHARE</button>
                              </mat-card-actions>
                            </mat-card>
                  </div>
            </div>
      </div>

        <div class="col-md-12 mt-2">
            <table class="table">
                  <thead class="thead-light">
                  <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  </tr>
                  <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  </tr>
                  <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  </tr>
                  </tbody>
            </table>
        </div>
  </div>
</div>